.material-list {
  background-color: transparent;

  .v-list-item,
  .v-list-group {
    margin-bottom: 0 !important;
    transition: margin-bottom 0.2s ease;
  }

  .v-list-item:not(:last-child),
  .v-list-group:not(:last-child),
  .list-item-wrapper:not(:last-child) .v-list-item {
    margin-bottom: 2px !important;
  }

  .v-list-item {
    background-color: rgba(var(--v-theme-primary), 0.08) !important;
    border-radius: 4px !important;
    transition:
      border-radius 0.4s cubic-bezier(0.55, 0, 0.1, 1),
      background-color 0.4s cubic-bezier(0.55, 0, 0.1, 1),
      color 0.4s cubic-bezier(0.55, 0, 0.1, 1) !important;
  }

  .material-list__item--selected .v-list-item {
    background-color: rgba(var(--v-theme-secondary-container), 1) !important;
    color: rgb(var(--v-theme-on-secondary-container)) !important;
    border-radius: 16px !important;
  }

  .v-list-group:last-child {
    &:not(.v-list-group--open) {
      margin-bottom: 0 !important;
      .v-list-item {
        margin-bottom: 0 !important;
      }
    }

    &.v-list-group--open {
      margin-bottom: 0 !important;
      .v-list-group__items .v-list-item:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}

.material-list-inner {
  background-color: transparent;

  .v-list-item,
  .v-list-group {
    margin-bottom: 0 !important;
    transition: margin-bottom 0.2s ease;
  }

  .v-list-item:not(:last-child),
  .v-list-group:not(:last-child),
  .list-item-wrapper:not(:last-child) .v-list-item {
    margin-bottom: 2px !important;
  }

  .v-list-item {
    background-color: rgb(var(--v-theme-background)) !important;
    border-radius: 4px !important;
    transition:
      border-radius 0.4s cubic-bezier(0.55, 0, 0.1, 1),
      background-color 0.4s cubic-bezier(0.55, 0, 0.1, 1),
      color 0.4s cubic-bezier(0.55, 0, 0.1, 1) !important;
  }

  .material-list__item--selected .v-list-item {
    border-radius: 16px !important;
  }

  .v-list-group:last-child {
    &:not(.v-list-group--open) {
      margin-bottom: 0 !important;
      .v-list-item {
        margin-bottom: 0 !important;
      }
    }

    &.v-list-group--open {
      margin-bottom: 0 !important;
      .v-list-group__items .v-list-item:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}
